/* Write your code here. */

.bg-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

@media screen and (min-width: 768px) {
  .card {
    width: 90%;
  }
}

.main-heading {
  color: #cb8805;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 40px;
  }
}

.list-container {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
